.custom-navbar {
    background-color: #009400;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
.navbar-brand{
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
   
}

.navbar .nav-link {
    color: rgba(255, 255, 255, 0.466) !important; /* con !important le damos max prioridad a un estilo    */
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  
  .navbar .nav-link:hover, /*el hover hace que las opciones brillen al pasar el mouse por encima  */
  .navbar .nav-link.active {
    color: #f8f9fa !important; 
    font-family: "Roboto", sans-serif;
  }


  .cuppon-card {
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*le da sombra a la card */
  }
  
  .cuppon-card .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
  }
  
  .cuppon-card .list-group-item {
    background-color: #f8f9fa;
    border: none;
  }

  .precio-item {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /*con el gap le damos una espacio a 2 objetos*/
  }
  
  .precio-item .anterior {
    color: #6c757d;
    text-decoration: line-through;
  }
  
  .precio-item .actual {
    color: #009400;
    font-weight: bold;
  }

  .card {
    background-color: white !important;
    border: 1px solid #ddd;
  }

  .form-section {
    background-color: #009400;
    color: white;
    text-align: center;
    padding: 30px 20px;
  }
  
  .form-section h2 {
    margin-bottom: 20px;
  }
  
  .form-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-section input {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  .form-section button {
    background-color: white;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form-section button:hover {
    background-color: #e6e6e6;

  }

  .footer {
    background-color: white;
    padding: 20px 0;
  }

  .footer .container {
    text-align: center;
  }
  
  .footer .logo {
    height: 30px;
    margin-bottom: 10px;
  }
  
  .footer-title {
    font-weight: bold;
    margin: 5px 0;
    font-family: "Roboto", sans-serif;
  }
  
  .footer-rights {
    color: gray;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }

  